    <!-- MENU DESKTOP -->
    <nav class="menu">
        <ul>
            <li class="home"><a href="#">accueil</a></li>
            <li class="about"><a href="#about">gallerie</a></li>
            <li class="mail"><a href="#contact">contact</a></li>
        </ul>
    </nav>

